/HW1/HW1_project.X/nbproject/private/
/HW1/HW1_project.X/build/default/
/HW1/HW1_project.X/dist/default/
/HW4/nbproject/private/
/HW4/HW4_project.X/nbproject/private/
/HW4/HW4_project.X/build/default/
/HW4/HW4_project.X/dist/default/